$btnColor: #8279B0;
$btnBoxShadow: 0px 8px 19px 1px rgba(168,158,221,1);
$inputBorder: #3A2990;
$todoBoxShadow: 11px 10px 9px -7px rgba(82,70,141,1);
$bgColorLight: #dcd6fa5c;
$bgColorDark:  #8279B0;
$textColorLight: #FFFAE6;
$textColorDark: #52468D;
$cardBorder: #cfcdd499;
